<launch>

    <!-- 地图 -->
    <node name="map_server" pkg="map_server" type="map_server"
        args="$(find wpr_simulation)/maps/map.yaml" />

    <!--- Run AMCL -->
    <!-- <include file="$(find wpb_home_tutorials)/nav_lidar/amcl_omni.launch" /> -->

    <!--- Run move base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find wpb_home_tutorials)/nav_lidar/costmap_common_params.yaml"
            command="load" ns="global_costmap" />
        <rosparam file="$(find wpb_home_tutorials)/nav_lidar/costmap_common_params.yaml"
            command="load" ns="local_costmap" />
        <rosparam file="$(find wpb_home_tutorials)/nav_lidar/local_costmap_params.yaml"
            command="load" />
        <rosparam file="$(find wpb_home_tutorials)/nav_lidar/global_costmap_params.yaml"
            command="load" />
        <rosparam file="$(find wpb_home_tutorials)/nav_lidar/local_planner_params.yaml"
            command="load" />
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="use_dijkstra" value="true" />
        <param name="base_local_planner" value="wpbh_local_planner/WpbhLocalPlanner" />
        <param name="controller_frequency" value="10" type="double" />
    </node>

    <!-- Map tools  -->
    <node pkg="waterplus_map_tools" type="wp_manager" name="wp_manager" output="screen" />
    <!-- <node pkg="waterplus_map_tools" type="wp_navi_server" name="wp_navi_server" output="screen" /> -->

    <!-- rviz -->
    <arg name="rvizconfig" default="$(find wpr_simulation)/rviz/nav.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>