<!-- 物品抓取 -->
<launch>

    <node pkg="wpb_home_behaviors" type="wpb_home_grab_server" name="wpb_home_grab_server" />
    <node pkg="wpb_home_behaviors" type="wpb_home_grab_action" name="wpb_home_grab_action">
        <rosparam file="$(find wpb_home_bringup)/config/wpb_home.yaml" command="load" />
    </node>
    <node pkg="wpb_home_behaviors" type="wpb_home_objects_3d" name="wpb_home_objects_3d"
        output="screen">
        <param name="topic" type="string" value="/kinect2/sd/points" />
    </node>

    <!-- rviz -->
    <!-- <arg name="rvizconfig" default="$(find wpr_simulation)/rviz/grab.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->

    <!-- patch_embedding -->
    <node name="grap_server" pkg="patch_embedding" type="grap_server.py" />

</launch>